/* start-set */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
}

html {
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    scroll-behavior: smooth;
}
/* header position */
header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}
/* set-pages */
.page {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#first-page {
    background-color: red;
}

#second-page {
    background-color: green;
}

#third-page {
    background-color: yellow;
}
/* scroll-buttons */
a {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 10px 30px;
    background-color: white;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    color: black;
    float: left;
}

header a:last-of-type {
    margin-right: 10px;
}

a:hover{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
/* content-layout */
.content {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.content img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* text */
h1 {
    font-size: 7vh;
    text-transform: uppercase;
    color: yellow;
    line-height: 6vh;
    text-align: center;
    letter-spacing: 0.08em;
}

.page:last-of-type h1 {
    color: green;
}