* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
}

header {
    position: fixed;
    top: 0;
    right: 0;
}

.page {
    list-style-type: none;
    width: 100%;
    height: 100vh;
}

#first-page {
    background-color: red;
}

#second-page {
    background-color: green;
}

#third-page {
    background-color: yellow;
}

a {
    text-decoration: none;
    display: block;
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 10px 30px;
    background-color: white;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    color: black;
}

header a:last-of-type {
    margin-right: 10px;
}